<div class="modal-bg"></div>
<div class="modal-box">
  <form action="" method="" data-id={{id}}>
    <fieldset class="title-input">
      <label for="title" class="input-label">Title</label>
      <input type="text" name="title" id="title" placeholder="Item 1" value="{{title}}">
    </fieldset>
    <fieldset class="date-input">
      <legend class="input-label">Due Date</legend>
      <label for="day" class="hidden">Day</label>
      <select id="day" name="dueDay">
        {{#if dueDay}}
        <option selected>{{dueDay}}</option>
        <option value="">None</option>
        {{else}}
        <option value="" selected>Day</option>
        {{/if}}
        <option>1</option>       
        <option>2</option>       
        <option>3</option>       
        <option>4</option>       
        <option>5</option>       
        <option>6</option>       
        <option>7</option>       
        <option>8</option>       
        <option>9</option>       
        <option>10</option>       
        <option>11</option>       
        <option>12</option>       
        <option>13</option>       
        <option>14</option>       
        <option>15</option>       
        <option>16</option>       
        <option>17</option>       
        <option>18</option>       
        <option>19</option>       
        <option>20</option>       
        <option>21</option>       
        <option>22</option>       
        <option>23</option>       
        <option>24</option>       
        <option>25</option>       
        <option>26</option>       
        <option>27</option>       
        <option>28</option>       
        <option>29</option>       
        <option>30</option>       
        <option>31</option>       
      </select>
      <span>/</span>
      <label for="month" class="hidden">Month</label> 
      <select id="month" name="dueMonth"> 
        {{#if dueMonth}}
        <option selected>{{dueMonth}}</option>
        <option value="">None</option>
        {{else}}
        <option value="" selected>Month</option>
        {{/if}}
        <option>January</option>       
        <option>February</option>       
        <option>March</option>       
        <option>April</option>       
        <option>May</option>       
        <option>June</option>       
        <option>July</option>       
        <option>August</option>       
        <option>September</option>       
        <option>October</option>       
        <option>November</option>       
        <option>December</option>       
      </select>
      <span>/</span>
      <label for="year" class="hidden">Year</label>
      <select id="year" name="dueYear">    
        {{#if dueYear}}
        <option selected>{{dueYear}}</option>
        <option value="">None</option>
        {{else}}
        <option value="" selected>Year</option>
        {{/if}}   
        <option>2017</option>       
        <option>2018</option>
        <option>2019</option>       
        <option>2020</option>
        <option>2021</option>       
        <option>2022</option>
        <option>2023</option>
        <option>2024</option>
        <option>2025</option>
      </select>
    </fieldset>
    <fieldset class="description-input">
      <h3 class="input-label">Description</h3>
      <textarea name="description" placeholder="Description">{{description}}</textarea>
    </fieldset>
    <fieldset class="form-buttons">
      <button class="save">Save</button>
      {{#if completed}}
      <button class="complete" disabled>Already Complete</button>
      {{else}}
      <button class="complete">Mark As Complete</button>
      {{/if}}
    </fieldset>
  </form>
</div>